/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Definição das cores como variáveis */
  --text-color: #ffffff;
  --primary-color: #F7931A; /* Cor principal (Bitcoin) */
  --background-color: #121212;
  --secondary-text-color: #e0e0e0;
  --secondary-background: #1e1e1e;
  --highlight-color: #ffae42; /* Cor de destaque */
  --error-color: #f8d7da;
  --error-text-color: #721c24;
  --success-color: #d4edda;
  --success-text-color: #155724;
  --button-hover-color: #45a049;
  --background-subcategory: #121212cc;
  --hover-background-subcategory: #ffae424d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  text-align: center;
  background-color: var(--primary-color);
  padding: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header #logotipo {
  display: flex;
}

header .logo {
  height: 50px;
  width: auto;
}

header h1 {
  font-size: 2.5rem;
  color: var(--text-color);
}

header p {
  font-size: 1.2rem;
  color: var(--text-color);
}

/*Menu navegável index.html*/
nav {
  margin-top: 10px;
}

#nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  position: relative; /* Importante para o posicionamento do dropdown */
  display: inline-block; /* Ou block, dependendo do layout */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.1s ease-in-out, transform 0.2s;
  padding: 10px 15px; 
} 

nav ul li a:hover {
  color: var(--background-color);
}

/*Menu navegável price.html*/
.seta {
  color: white;
  transition:color 0.1s ease-in-out, transform 0.2s;
  cursor: pointer;
  margin-left: 5px;
  display: inline-block;
}

nav ul li a:hover .seta {
  color: var(--background-color);
  transform: rotate(180deg); /* Rotação da seta */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 80%; /* Posiciona o menu abaixo do link */
  left: 5%; /* Alinha o menu com a borda esquerda do link */
  max-width: max-content;
  z-index: 1;
  background-color: var(--background-subcategory);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.dropdown-content a {
  color: var(--secondary-text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: var(--hover-background-subcategory);
  color: var(--text-color);
}

#nav-links:hover .dropdown-content {
  display: block; /* Exibe as subcategorias */
}

#nav-links:hover .dropdown-content:hover {
    display: block; /* Mantém as subcategorias abertas */
}

#menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  display: none;
}

.ads-container {
  text-align: center;
}

article, #header-description {
  background-color: var(--secondary-background);
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
}

.price-card {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#fear-greed-value,
#dominance-value,
#mayer-value {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--text-color);
}

p {
  font-size: 1rem;
  color: var(--secondary-text-color);
}

#fear-greed-text p, 
#mayer-multiple-text p, 
#bitcoin-dominance-text p,
#crypto-text p {
  margin: 0.75rem 0;
}

#fear-greed-text ul li, 
#mayer-multiple-text ul li, 
#bitcoin-dominance-text ul li,
#crypto-text ul li {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

h3 {
  color: var(--primary-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

form label {
  font-size: 1rem;
  color: var(--text-color);
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--secondary-background);
  color: var(--text-color);
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: var(--highlight-color);
}

form button:active {
  transform: scale(0.98);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

form input:focus,
form textarea:focus {
  border-color: var(--highlight-color);
  outline: none;
  box-shadow: 0 0 5px rgba(247, 147, 26, 0.8);
}

footer {
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 15px;
  margin-top: 30px;
}

footer p {
  font-size: 1rem;
}

canvas {
  margin-top: 10px;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 30px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

#back-to-top:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.1);
}

#back-to-top:focus {
  outline: 3px solid var(--highlight-color);
}

.feedback {
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
  width: 80%;
  max-width: 800px;
  text-align: center;
  font-size: 1.1rem;
}

.feedback.success {
  background-color: var(--success-color);
  color: var(--success-text-color);
  border: 1px solid #c3e6cb;
}

.feedback.error {
  background-color: var(--error-color);
  color: var(--error-text-color);
  border: 1px solid #f5c6cb;
}

#nav-links li {
  margin-right: 20px;
}

@media (min-width: 769px) {
  #menu-toggle {
    display: none;
  }

  #nav-links {
    display: flex;
    justify-content: center;
  }

  #nav-links li {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  article, #header-description {
    margin: 40px auto;
    padding: 30px;
  }

  .indicator {
    align-items: flex-start;
  }

  #back-to-top {
    bottom: 10px;
    right: 10px;
    padding: 15px;
    font-size: 24px;
  }

  #menu-toggle {
    display: block;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    max-width: max-content;
    z-index: 1;
    justify-content: space-around;

    background-color: var(--background-subcategory);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
  }

  #nav-links li {
    text-align: center;
    padding: 15px 0;
    margin-right: 10px;
  }

  #nav-links li a {
    color: var(--secondary-text-color);
  }

  #nav-links.show {
    display: flex;
  }

  .seta, .dropdown-content {
    display: none;
  }
}